UnbCare_backup/Exemplos.hs
UnbCare_backup/Instrucoes.txt
UnbCare_backup/ModeloDados.hs
UnbCare_backup/UnBCare.hs
Trabalho1/Trab1_test_field
Trabalho1/160013259-Lucca.zip
Trabalho1/Instrucoes.txt
UnbCare_backup/Exemplos_backup_and_mine.hs